@charset 'UTF-8';
/* Slider
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
/* @font-face */
/* {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
} */ 
/* Arrows */
.slick-prev,
.slick-next
{
    position: absolute;
    display: block;
    width: 100px;
    height: 70px;
    top: 50%;
    font-size: 30px;
    border: none;
    font-weight: bold;
}

.slick-prev:before{
    content: '<';

    
}
.slick-next:before
{
    content: '>';

}

.slick-prev
{
    left: 20%;

}


.slick-next
{
    right: 40%;
}


