@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Regular.otf") format("woff2");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 200;
  src: url("/fonts/NotoSansKR-Thin.otf") format("woff2");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 600;
  src: url("/fonts/NotoSansKR-Medium.otf") format("woff2");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: bold;
  src: url("/fonts/NotoSansKR-Bold.otf") format("woff2");
}
#root,
#modal {
  font-family: NotoSansKR;
}
* {
  font-family: NotoSansKR;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0000006b;
}
body::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.pageTransition-enter {
  opacity: 0.01;
}

.pageTransition-enter.pageTransition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.pageTransition-exit {
  opacity: 1;
}

.pageTransition-exit.pageTransition-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

div.transition-group {
  position: relative;
  background-color: #fff;
}
